* {
    
    text-shadow: 0 6px 20px rgb(0, 0, 0);
}
body {
    background: linear-gradient(135deg, #ffe5b4, #fff);
    margin: 0;
    padding: 0;
    color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


}

#header {
    background-color: #d62828;
    color: #fff;
    height: 10%;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 90%;

}

#nav {
    background-color: #f77f00;
    display: flex;
    justify-content: center;
    gap: 1%;
    padding: 15px;
    margin: 0;
}

#nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

#nav a:hover {
    color: #003049;
}

#main {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 40px;
    border-radius: 10px;
    color: #333;
}

img {
    width: 40%;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    box-shadow: 0 6px 20px rgb(0, 0, 0);
}

img:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 20px rgb(0, 0, 0);
}

ul {
    list-style-type: square;
    list-style-position: inside;
    padding: 0;
    font-style: italic;
    color: #444;
}

h1 {
    font-style: normal;
    text-shadow: none;
}

h2, h3 {
    color: #003049;
    font-style: normal;
    text-shadow: none;
}
#footer {
    background-color: #003049;
    text-align: center;
    width: 40%;
    height: 5%;
    border-radius: 5px;
    box-shadow: 0 6px 20px rgb(0, 0, 0);
    margin: 0 auto;

    
}

#footer_txt{
    color: white;
}

p {
    font-style: normal;
    color: #333;
}

h2,h1,h3,p, li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.11);
    font-weight: bold;
}


